.musicbox{
    position: absolute;
width: 823px;
height: 384px;
left: 774px;
top: 423px;

background: #FFFFFF;
box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 54px;
}

.inputsongname{
    position: absolute;
width: 493.7px;
height: 86.2px;
left: 1030px;
top: 500px;

background: #FFFFFF;
box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
.unknowncover{
    position: absolute;
width: 630px;
height: 630px;
left: 323px;
top: 231px;

background: #7000FF;
border-radius: 25px;
}
.questionmark{
    
position: absolute;
width: 176px;
height: 290px;
left: 550px;
top: 410px;
background: url(./images/question-mark-icon.png);
background-size: contain;

}
.musicline{
    position: absolute;
width: 335px;
height: 0px;
left: 1030px;
top: 659px;

border: 6px solid #7000FF;

/* position: absolute;
width: 494px;
height: 0px;
left: 1030px;
top: 659px;

border: 6px solid #E3E3E3; */
}
.playbar{
    position: absolute;
width: 38.57px;
height: 35.83px;
left: 1294px;
top: 699px;

background: #7000FF;
transform: matrix(0, 1, -1, 0, 0, 0);


/* Polygon 7 */


position: absolute;
width: 38.57px;
height: 35.83px;
left: 1488.83px;
top: 699px;

background: #7000FF;
transform: matrix(0, 1, -1, 0, 0, 0);


/* Polygon 8 */


position: absolute;
width: 38.57px;
height: 35.83px;
left: 1506.83px;
top: 699px;

background: #7000FF;
transform: matrix(0, 1, -1, 0, 0, 0);


/* Polygon 9 */


position: absolute;
width: 38.57px;
height: 35.83px;
left: 1086.81px;
top: 738px;

background: #7000FF;
transform: matrix(0, -1, 1, 0, 0, 0);


/* Polygon 10 */


position: absolute;
width: 38.57px;
height: 35.83px;
left: 1068.59px;
top: 738px;

background: #7000FF;
transform: matrix(0, -1, 1, 0, 0, 0);
}