/*desktop*/

/* Main css*/

/* @font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

*{
    font-family: 'KBO-Dia-Gothic_bold';
} */

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'GangwonEduPowerExtraBoldA';
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.background{
    position: relative;
    width: 100%;
    height: 100%;
    background: url(./images/main-b.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    position: absolute;    
    font-size: 9rem;
    font-weight: bolder;
    color: white;
    top: 60%;
    left: 4.5%;
}

.comment{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    top: 76%;
    left: 5.5%;
}

.start-button{
    position: absolute;
    width: 18vw;
    height: 5vw;
    bottom: 108px;
    right: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: none;

}

.start-text{
    justify-content: center;
    color: #7000FF;
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    align-items: center;
}

.fa-arrow-right{
    font-size: 3rem;
    color: #7000FF;
}

/*Genre css*/
header{
    position: relative;
    width: 80%;
    height: 5vw;
    border-bottom: 2px solid #E6E6E6;
    justify-content: center;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    position: absolute;
    font-size: 3vw;
    font-weight: bolder;
    color: #7000FF;
    display: grid;
    text-decoration: none;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
}

.k{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
    height: 805px;
    background: linear-gradient(rgba(112, 0, 255, 0.5), rgba(112, 0, 255, 0.5)), url(./images/k-pop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 30px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin: 0px 56px 0 56px;
}

.b{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
    height: 805px;
    background: linear-gradient(rgba(112, 0, 255, 0.5), rgba(112, 0, 255, 0.5)), url(./images/ballad.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 30px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-right: 56px;
}

.h{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
    height: 805px;
    background: linear-gradient(rgba(112, 0, 255, 0.5), rgba(112, 0, 255, 0.5)), url(./images/hip-pop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 30px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-right: 56px;
}

.i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
    height: 805px;
    background: linear-gradient(rgba(112, 0, 255, 0.5), rgba(112, 0, 255, 0.5)), url(./images/indi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 30px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-right: 56px;
}

.p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 254px;
    height: 805px;
    background: linear-gradient(rgba(112, 0, 255, 0.5), rgba(112, 0, 255, 0.5)), url(./images/pop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border: none;
    border-radius: 30px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-right: 56px;
}

/*Choice css*/
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
  }
  
 .box {
    position: relative;
    width: 496px;
    height: 657px;
    border-radius: 45px;
    margin: 0px 40px 0px 40px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.092);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    font-size: 40px;
    font-weight: bolder;
    color: #7000FF;
    text-align: center;
    bottom: 60px;
  }
  
  .icon {
    width: 188px;
    height: 188px;
  }

  
  /* PlayGame css*/

  .container2{
    /* position: relative; */
    width: 70vw;
    height: 62vh;
    display: flex;
    flex-direction: row ;
    align-items: flex-end;
    margin-top: 8%;
  }

  .coverbox{
    width: 35vw;
    height: 35vw;
    border-radius: 25px;
    background-color: #7000FF;
    /* margin: 10vw 0vw 0vw 17vw; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .answerbox{
    width: 35vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .musicbox{
    /* position: absolute; */
    width: 35vw;
    height: 18vw;
    border-radius: 0px 45px 45px 0px;
    /* margin: 21vw 0vw 0vw 50vw; */
    box-shadow: 0px 4px 17px 0px rgb(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }

  input{
    /* position: absolute; */
    width: 28vw;
    height: 5vw;
    border-radius: 50px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 10px 0px inset rgba(0, 0, 0, 0.12);
    font-size: 1.4rem;
    text-align: center;
    text-align: center;
    margin-top: 3vw;
  }

  input:focus::placeholder {
    color: transparent;
  }

  

  .playline{
    width: 28vw;
    height: 0.3vw;
    margin-top: 5%;
    background-color: #E3E3E3;
    border-radius: 50px;
  }

  @keyframes expandRight {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  .element {
    width: 28vw;
    height: 0.3vw;
    margin-top: 5%;
    background-color: #7000FF;
    border-radius: 50px;
    animation-name: expandRight;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards; /* 애니메이션 종료 후 상태를 유지 */
  }
  
  

  /* tap */

  @media screen and (max-width: 720px) {
    
  }


  /* phone */

  @media screen and (max-width: 430px) {
    
  }

