/* Main */

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.background{
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.mainText{
  display: grid;
  grid-template-rows: auto;
  /* margin: 28vw 0 0 3vw; */
}

.title{
  position: absolute;
  font-size: 7.8vw;
  font-weight: bolder;
  color: white;
  bottom: 18vw;
  left: 5vw;
}

.comment{
  position: absolute;
  display: flex;
  column-gap: 20%;
  bottom: 10vh;
  right: 25vw;
  font-size: 2.8vw;
  font-weight: bold;
  color: white;
}

.start-button {
  width: 15vw;
  height: 4.5vw;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 6.5%;
  justify-content: center;
  /* align-items: center; */
  border-radius: 100px;
  border: none;
  margin-top: 5%;
}

.start-text {
  color: #7000FF;
  font-size: 2vw;
  font-weight: bolder;
  text-align: center;
  margin-top: 22%;
}

.fa-arrow-right {
  margin-top: 67%;
  font-size: 2vw;
  color: #7000FF;
  justify-content: center;
}


#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .img {
    display: none;
    width: 100%;
    height: 100%;
  }
  
  .img.on {
    display: block;
  }