
*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .img {
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .img.on {
    display: block;
  }